:root {
    --color-primary2: #5351FD;
    --color-secondary2: #BB08B2;
    --bg-gradient2: linear-gradient(90deg, #5351FD 20%, #BB08B2 100%);
}

.about-thumb .user-fun-fact{
    position: absolute;
    left: 0;
    top: 0;
    background: var(--bg-gradient2);
    padding: 50px; 
}

.team-box::after {
    background: var(--bg-gradient2);
}

.top-shape-gray::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 510px;
    width: 100%;
    background: var(--bg-gradient2);
    z-index: -1;
}

.bg-grad {
    background-color: var(--bg-gradient2) !important;
}

.bg-gray {
    background: var(--bg-gradient2);
}

.bg-gray-1 {
    background-color: rgb(186, 186, 186);
}


.blog-area .meta li a{
    font-weight: 400;
    color: black;
}

.blog-area .meta li {
 color: black;
}
